.ticket-container {
    width: 80mm; 
    background: white;
    padding: 2mm;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

#printable-ticket {
    /*display: none;*/
}

@media print {
    body * {
        visibility: hidden;
    }

    #printable-ticket, #printable-ticket * {
        display: block !important; 
        visibility: visible !important;
        visibility: visible;
    }

    #printable-ticket {
        position: fixed;
        left: 0;
        top: 0;
        width: 80mm; 
        margin: 0;
        padding: 0;
    }

    @page {
        size: 80mm auto;    
        margin: 0; 
    }
}